@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--color-text-base: #0f172a;
		--color-text-muted: #64748b;
		--color-text-inverted: #e2e8f0;
		--color-background: #f8fafc;
	}

	[data-theme='dark'] {
		--color-text-base: #f8fafc;
		--color-text-muted: #64748b;
		--color-text-inverted: #334155;
		--color-background: #0f172a;
	}
}

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--color-text-base);
	background: var(--color-background);
}

.card {
	background: var(--color-background);
	box-shadow:
		0 4px 6px 1px var(--color-text-inverted),
		0 2px 4px 2px var(--color-text-inverted);
	@apply rounded-lg p-4;
}

.circle {
	@apply bg-persian-green-500 my-auto h-8 w-8 items-center justify-center rounded-full lg:h-12 lg:w-12;
}

.text-label {
	color: var(--color-text-base);
	@apply text-base;
}

.text-description {
	color: var(--color-text-muted);
	@apply text-sm;
}

.text-meta {
	color: var(--color-text-muted);
	@apply text-xs;
}

.modal {
	background-color: rgba(34, 34, 34, 0.5);
	@apply fixed left-0 top-0 z-10 flex h-full w-full items-center justify-center;
}

.modal_content {
	display: flex;
	flex-direction: column;
	background-color: var(--color-background);
	color: var(--color-text-base);
	max-width: 800px;
	@apply w-full rounded-lg p-8;
}

.modal_header {
	flex: 0 0 auto;
	text-align: end;
}

.modal_footer {
	flex: 0 0 auto;
	text-align: end;
}

.modal_main {
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}

.modal_spinner {
	margin: auto;
}
