.menuLanguageDropdown {
	min-width: 150px;
}

.menuLanguageDropdownItem {
	@apply cursor-pointer py-4 pr-8 hover:bg-gray-100;
}

.menuLanguageDropdownItemSelected {
	color: var(--color-primary);
	@apply flex gap-2 font-bold;
}

.menuLanguageDropdownItemSelected :before {
	display: inline-flex;
	content: '';
	mask: url('../assets/icon/checkmark-outline.svg');
	mask-size: 18px 18px;
	width: 18px;
	height: 18px;
	margin: auto;
	background-color: var(--color-primary);
}
