{
	"useTabs": true,
	"singleQuote": true,
	"printWidth": 80,
	"bracketSpacing": true,
	"bracketSameLine": false,
	"arrowParens": "always",
	"plugins": ["prettier-plugin-organize-imports", "prettier-plugin-tailwindcss"]
}
