@font-face {
  font-family: IBMPlexSans;
  src: local(IBMPlexSansThin),
  url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: local(IBMPlexSansLight),
  url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: local(IBMPlexSansRegular),
  url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: IBMPlexSans;
  src: local(IBMPlexSansBold),
  url(/assets/fonts/IBM_Plex_Sans/IBMPlexSans-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lato;
  src: local(LatoThin),
  url(/assets/fonts/Lato/Lato-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lato;
  src: local(LatoLight),
  url(/assets/fonts/Lato/Lato-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lato;
  src: local(LatoRegular),
  url(/assets/fonts/Lato/Lato-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Lato;
  src: local(LatoBold),
  url(/assets/fonts/Lato/Lato-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(RalewayThin),
  url(/assets/fonts/Raleway/static/Raleway-Thin.ttf) format("truetype");
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(RalewayLight),
  url(/assets/fonts/Raleway/static/Raleway-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(RalewayRegular),
  url(/assets/fonts/Raleway/static/Raleway-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(RalewayMedium),
  url(/assets/fonts/Raleway/static/Raleway-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: Raleway;
  src: local(RalewayBold),
  url(/assets/fonts/Raleway/static/Raleway-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
