:root {
	--color-primary: #2a9d8f;
	--color-text-shade-01: #151515;
	--color-text-shade-02: #6b7280;
	--color-text-shade-03: #e2e8f0;
	--color-background: #ffffff;
}

[data-theme='dark'] {
	--color-text-shade-01: #ffffff;
	--color-text-shade-02: #6b7280;
	--color-text-shade-03: #222222;
	--color-background: #343541;
}
