.user_profile {
	display: flex;
	align-items: center;
	text-align: end;
	margin-bottom: 4px;
}

.user_picture {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35px;
	height: 35px;
	border-radius: 50%;
}

.user_name {
	@apply font-bold;
}
