.list_item::before {
	content: '';
	position: absolute;
	left: -0.7rem;
	top: 1rem;
	height: 85%;
	width: 2px;

	@apply bg-gray-400 bg-opacity-25;
}

.list_item {
	position: relative;
}

.list_item_bullet {
	position: relative;
	display: block;
	border-radius: 50%;
	height: 0.4rem;
	width: 0.4rem;
	top: -0.1rem;
	left: -0.8rem;
	margin-bottom: -0.8rem;

	@apply bg-gray-400 bg-opacity-25;
}
