@import 'colors.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0;
	margin: 0;
}

a {
	color: inherit;
	text-decoration: underline;
}
a:hover {
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

body {
	color: var(--color-text-shade-01);
	background: var(--color-background);
}

.card {
	background: var(--color-background);
	box-shadow: 0 4px 6px 1px var(--color-text-shade-03),
		0 2px 4px 2px var(--color-text-shade-03);
	@apply rounded-lg p-4;
}

.circle {
	background: var(--color-primary);
	@apply rounded-full h-8 lg:h-12 w-8 lg:w-12 justify-center items-center my-auto;
}

.circle ion-icon {
	color: var(--color-text-shade-03);
}

.chip {
	@apply rounded-full py-1 px-3 text-xs;
}

.chip-primary {
	background-color: var(--color-primary);
	@apply py-2 text-white;
}

.chip-secondary {
	@apply bg-yellow-300 dark:bg-white bg-opacity-50 dark:bg-opacity-100 text-yellow-600;
}

.text-label {
	color: var(--color-text-shade-01);
	@apply text-base;
}

.text-description {
	color: var(--color-text-shade-02);
	@apply text-sm;
}

.text-meta {
	color: var(--color-text-shade-02);
	@apply text-xs;
}

.button-primary {
	background-color: var(--color-primary);
	@apply rounded text-center p-2 text-white;
}

.button-disabled {
	opacity: 0.5;
	cursor: not-allowed;
}
